<% provide(:title, 'Home') %>

<div class="col-xs-12 col-sm-12 col-md-2 col-lg-4">
	<div class="well">
		<p>Total Projects This Month:<%= @projects.size %></p>
		<p>Total Deadlines This Month:<%= @deadlines.size %></p>
		<p>Open Projects: <%= @open.size %></p>
		<p>Closed Projects: <%= @closed.size %></p>
		<p>Revenue: £<%= @revenue.round(2) %></p>
		<p>Expenditure: £<%= @cost.round(2) %> </p>
		<p>Profit: £<%= (@revenue - @cost).round(2) %></p>
	</div>
</div>