<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>

	<body>
		Message here


		Deadline: <%= @project.deadline %> <%= @project.time.strftime("%l:%M") %>

		<table>
			<tr><td><b>Source Language</b></td><td><%= @project.source %></td></tr>
			<tr><td><b>Target Language</b></td><td><%= @project.target %></td></tr>
			<tr><td><b>Total Word Count</b></td><td><%= @words.total %></td></tr>
			<tr><td><b>New Words</b></td><td><%= @words.nomatch %></td></tr>
		</table>

		special instructions.

		Kit info

		<table>
			<tr><td><b>Match Types</b></td><td><b>% of rate</b></td><td><b>Words</b></td><td><b>%</b></td></tr>
				
			<tr><td><b>Perfect</b></td><td><%= @percents.translated %></td><td><%= @words.translated%> </td><td><%= number_to_percentage(@words.translated.to_f / @words.total * 100, precision: 2) %></td></tr>
			
			<tr><td><b>Context Match</b></td><td><%= @percents.context %></td><td><%= @words.context %> </td><td><%= number_to_percentage(@words.context.to_f / @words.total * 100, precision: 2) %></td></tr>
				
			<tr><td><b>Repeated</b></td><td><%= @percents.repetition %></td><td><%= @words.repetition %> </td><td><%= number_to_percentage(@words.repetition.to_f / @words.total * 100, precision: 2) %></td></tr>
					
			<tr><td><b>50-74%</b></td><td><%= @percents.fifty %></td><td><%= @words.fifty %> </td><td><%= number_to_percentage(@words.fifty.to_f / @words.total * 100, precision: 2) %></td></tr>
					
			<tr><td><b>75-84%</b></td><td><%= @percents.seventy_five %></td><td><%= @words.seventy_five %> </td><td><%= number_to_percentage(@words.seventy_five.to_f / @words.total * 100, precision: 2) %></td></tr>
					
			<tr><td><b>85-94%</b></td><td><%= @percents.eighty_five %></td><td><%= @words.eighty_five %> </td><td><%= number_to_percentage(@words.eighty_five.to_f / @words.total * 100, precision: 2) %></td></tr>
					
			<tr><td><b>95-99%</b></td><td><%= @percents.ninety_five %></td><td><%= @words.ninety_five %> </td><td><%= number_to_percentage(@words.ninety_five.to_f / @words.total * 100, precision: 2) %></td></tr>

			<tr><td><b>100%</b></td><td><%= @percents.hundred %></td><td><%= @words.hundred %> </td><td><%= number_to_percentage(@words.hundred.to_f / @words.total * 100, precision: 2) %></td></tr>

			<tr><td><b>New</b></td><td><%= @percents.nomatch %></td><td><%= @words.nomatch %> </td><td><%= number_to_percentage(@words.nomatch.to_f / @words.total * 100, precision: 2) %></td></tr>

			<tr><td><b>Total</b></td><td></td><td><%= @words.total %> </td><td></td></tr>
			
		</table>

		<%= current_user.signature %>
	</body>
</html>