<html>
	<head>
		<%= stylesheet_link_tag(asset_data_base64("pdf.css.scss")) %>
	</head>
	<body>
		<div id="header">
				<h1 style="color: #f5821f;">latin</h1><h2 style="color: #0094d0;">link</h2>
				<h2>fluent, precise, prompt</h2>
		</div>

			<div id="title">
				<%= "#{@client.name} - September " %>
			</div>

			<div class="address">
				Language Partners Ltd Trading as Latin Link<br />
				91 Cotham Brow<br />
				Bristol, BS6 6AW<br />
				Company: 8113770<br />
				VAT: GB150345246<br />
			</div>
			to
			<div class="address">
				Test Address
			</div>
		<% i = 0 %>
		<div id="content" style="width:100%; text-align: center;">
			<div id="thanks" style="margin-top: 20px; display: inline-block;">
				Many thanks for your recent business with Latin Link. Below is a breakdown of your invoice.
			</div>
			<table border="1" cellpadding="5" style=" display: inline-block; font-family: 'Calibri'; border-collapse:collapse; border: 1px solid #f79646; margin: 5px;">
				<tr style="color: #fff; background-color: #f79646; border-bottom: 1px solid #f79646;"><td><b>Project</b></td><td><b>Deadline</b></td><td><b>Purchase Order</b></td><td><b>Cost (GBP)</b></td></tr>
				<% @projects.each do |p| %>
					<% @orders.each do |o| %>
						<% if i % 2 == 0 %>
							<tr style="border-bottom: 1px solid #f79646;"><td><%= "#{p.count}" %></td><td><%= "#{p.deadline} #{p.time.strftime("%l:%M")}" %></td><td><%= o.LLID %></td><td><%= o.value %></td></tr>
							<% i = i + 1 %>
						<% else %>
							<tr style="background-color: #fde9d9; border-bottom: 1px solid #f79646;"><td><%= "#{p.count}" %></td><td><%= "#{p.deadline} #{p.time.strftime("%l:%M")}" %></td><td><%= o.LLID %></td><td><%= o.value %></td></tr>
							<% i = i + 1 %>
						<% end %>
					<% end %>
				<% end %>
			</table>
		</div>
		<div id="payment" style="margin-top: 20px;">
			Payments to be made by way of bank transfer:<br />
			Language Partners Ltd<br />
			Bank: Santander<br />
			BIX: ABBYGB2LXXX<br />
			IBAN: GB76ABBY09012830125046<br />
			Sort code: 09-01-28<br />
			Account number: 30125046<br />
		</div>
		<div id="footer">
			<h1>latinlink.com</h1>
			<h2>91 Cotham Brow, Bristol, BS6 6AW, UK e. info@latinlink.com t. (0044) 117 922 0707</h2>
		</div>
	</body>
</html>