<div id="header">
	<%= wicked_pdf_image_tag 'invoice_logo.png' %>
	<div class="address">
		Language Partners Ltd Trading as Latin Link
		91 Cotham Brow
		Bristol, BS6 6AW
		Company: 8113770
		VAT: GB150345246
	</div>
	to
	<div class="address">
		Client Address
	</div>
</div>

<div id="content">
	<div id="thanks">
		Many thanks for your recent business with Latin Link. Below is a breakdown of your invoice.
	</div>
	<table>
		<tr><td>Project ID</td><td>Deadline</td><td>Purchase Order</td><td>Cost</td></tr>
		<% @projects.each do |p| %>
			<% @orders.each do |o| %>
				<tr><td><%= "#{@client.name} #{@project.count}" %></td><td><%= "#{@project.deadline} #{@project.time}" %></td><td><%= @order.LLID %></td><td><%= @order.value %></td></tr>
			<% end %>
		<% end %>
	</table>
</div>
<div id="payment">
	Payments to be made by way of bank transfer:
	Language Partners Ltd
	Bank: Santander
	BIX: ABBYGB2LXXX
	IBAN: GB76ABBY09012830125046
	Sort code: 09-01-28
	Account number: 30125046
</div>
<div id="footer">
	<%= wicked_pdf_image_tag 'invoice_footer.png' %>
</div>