<div id="header">
	<%= wicked_pdf_image_tag_for_public 'invoice_logo.jpg' %>
	<div class="address" style="margin-top: 20px; margin-bottom: 20px">
		Language Partners Ltd Trading as Latin Link<br />
		91 Cotham Brow<br />
		Bristol, BS6 6AW<br />
		Company: 8113770<br />
		VAT: GB150345246<br />
	</div>
	to
	<div class="address" style="margin-top: 20px">
		Client Address
	</div>
</div>

<div id="content">
	<div id="thanks" style="margin-top: 20px">
		Many thanks for your recent business with Latin Link. Below is a breakdown of your invoice.
	</div>
	<table>
		<tr><td>Project ID</td><td>Deadline</td><td>Purchase Order</td><td>Cost £</td></tr>
		<% @projects.each do |p| %>
			<% @orders.each do |o| %>
				<tr><td><%= "#{p.count}" %></td><td><%= "#{p.deadline} #{p.time.strftime("%l:%M")}" %></td><td><%= o.LLID %></td><td><%= o.value %></td></tr>
			<% end %>
		<% end %>
	</table>
</div>
<div id="payment" style="margin-top: 20px">
	Payments to be made by way of bank transfer:<br />
	Language Partners Ltd<br />
	Bank: Santander<br />
	BIX: ABBYGB2LXXX<br />
	IBAN: GB76ABBY09012830125046<br />
	Sort code: 09-01-28<br />
	Account number: 30125046<br />
</div>
<div id="footer" style="margin-top: 20px">
	<%= wicked_pdf_image_tag_for_public 'invoice_footer.jpg' %>
</div>