<% provide(:title, 'All Orders') %>
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
	<div class="well">
		<tbody>
		<table class="table table-hover">
			<tr><td>ID</td><td>Value</td><td>Type</td><td>Paid</td><td>Delete</td></tr>
			<% @orders.each do |order| %>
			<tr><td><%= link_to order.LLID,"orders/"+order.id.to_s %></td>
				<td><%= order.value %></td>
				<td><% if order.category == 0 %>
						Client </td>
					<% else %>
						Translator </td>
					<% end %>
				<td><% if order.paid == true %>
						<%= link_to content_tag('i', '', class: 'fa fa-check-square-o fa-2x'), "orders/paid/"+order.id.to_s, :method => :put %></td>
					<% else %>
						<%= link_to content_tag('i', '', class: 'fa fa-square-o fa-2x'), "orders/paid/"+order.id.to_s, :method => :put %></td>
					<% end %>
				<td><%= link_to content_tag('i', '', class: 'fa fa-trash-o fa-2x'), "orders/"+order.id.to_s, data: { confirm: "Are you sure you want to delete this Order?" }, method: :delete %></td></tr>
			<% end %>
		</table>
		</tbody>
	</div>
</div>