<% provide(:title, 'Purchase Order') %>

<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
	<div class="well">
		<h1 class="center"><%= @order.LLID %></h1>
		<p>Value: <%= @order.value %></p>
		<p>Type: <% if @order.category == 0 %> Client <% else %> Translator <% end %></p>
		<p><% if @order.category == 0 %> Received: <% else %> Paid: <% end %> <% if @order.paid == true %><i class="fa fa-check-square-o fa-2x"></i><% else %><i class="fa fa-square-o fa-2x"></i><% end %>
		<% @links.each do |l| %>
			<% if l.translator_id %>
				<% @translator = Translator.find(l.translator_id) %>
				<p>Linked to <%= link_to @translator.name, "/translators/"+@translator.id.to_s+"/edit" %></p>
			<% else %>
				<% @project = Project.find(l.project_id) %>
				<% @client = Client.find(@project.client_id) %>
				<p>Linked to <%= link_to "#{@client.name} #{@project.count}", "/projects/"+@project.id.to_s %></p>
			<% end %>
		<% end %>
	</div>

	<div class="well">
		<h2 class="center">Link to Translator</h2>
		<%= form_for(@link) do |f| %>
		<div class="form-group">
			<%= f.label :translator %>
			<%= f.collection_select :translator_id, Translator.all, :id, :name, class: "form-control" %>
			<%= f.hidden_field :order_id, :value => @order.id %>
		</div>
		<%= f.submit "Link Order", class: "btn btn-large btn-primary form-control" %>
		<% end %>
	</div>

	<div class="well">
		<h2 class="center">Link to Client</h2>
		<%= form_for(@link) do |f| %>
		<div class="form-group">
			<%= f.label :client %>
			<%= f.collection_select :client_id, Client.all, :id, :name, class: "form-control" %>
			<%= f.hidden_field :order_id, :value => @order.id %>
		</div>
		<%= f.submit "Link Order", class: "btn btn-large btn-primary form-control" %>
		<% end %>
	</div>

</div>