<% provide(:title, 'Email Translator') %>

<div class="col-xs-12 col-sm-12 col-md-offset-5 col-md-2 col-lg-offset-4 col-lg-4">
	<div class="well">
		<h2 class="center">Send Email</h2>
		<%= form_tag('/projects/emailtranslator') %>
		<%= label_tag :handoff, "Handoff" %>
		<%= text_field_tag :handoff, nil, class: "form-control" %>
		<%= label_tag :request, "Request" %>
		<%= text_field_tag :request, nil, class: "form-control" %>
		<%= label_tag :message, "Message" %>
		<%= text_area_tag :message, nil, class: "form-control" %>
		<%= label_tag :files, "File" %>
		<%= select_tag "asset", options_from_collection_for_select(@assets, "id", "file_file_name"), class: "form-control" %>
		<%= hidden_field_tag :translator_id, params[:translator_id] %>
		<%= hidden_field_tag :project_id, params[:project_id] %>
		<%= submit_tag "Send Email", class: "btn btn-large btn-primary form-control" %>
	</div>
</div>