<% provide(:title, 'New Project') %>


<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
<h1 class="center"> Create Project </h1>
<div class="well">
	<%= form_for @project, :html => {:multipart => true} do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="form-group">
		<%= f.label :client %>
		<%= f.collection_select :client, Client.all, :id, :name, class: "form-control"  %>
	</div>
	<div class="form-group">
		<%= f.label :file %>
		<%= f.file_field :file, class: "form-control" %>
	</div>
	
	<%= f.submit "Create New Project", class: "btn btn-large btn-primary form-control" %>
	<% end %>
</div>
</div>