<% provide(:title, 'Project') %>

<div class="col-xs-12 col-sm-12 col-md-2 col-lg-4">
	<div class="well">
		<h2 class="center">Translators</h2>
		<table>
		<% @assignments.each do |a| %>
		<% @translator = Translator.find(a.translator_id) %>
		<tr><td><%= @translator.name %></td><td><%= link_to content_tag('i', '', class: 'fa fa-trash-o fa-2x'), "/assignments/"+a.id.to_s, data: { confirm: "Are you sure you want to delete this Assignment?" }, method: :delete %></td></tr>
		<% end %>

		</table>

		<p>Cost: £<%= @cost %>

		<h2 class="center">Add a translator</h2>
		<%= form_for(@assignment) do |f| %>
		<div class="form-group">
			<%= f.label :translator %>
			<%= f.collection_select :translator, Translator.all, :id, :name, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :rate %>
			<%= f.text_field :rate, class: "form-control" %>
			<%= f.hidden_field :project, :value => @project.id %>
		</div>
		<%= f.submit "Add", class: "btn btn-large btn-primary form-control" %>
		<% end %>
	</div>

	<div class="well">
		<h2 class="center">Client</h2>
		<p><%= link_to @client.name, "/clients/"+@client.id.to_s %></p>
		<p>Value: £<%= @value %>
		<p>Project #<%= @project.count %></p>
		<p><%= @project.source %> -> <%= @project.target %></p>
		<p><% if @project.closed == true %>
						Mark as open <%= link_to content_tag('i', '', class: 'fa fa-check-square-o fa-2x'), "closed/"+@project.id.to_s, :method => :put %>
					<% else %>
						Mark as closed <%= link_to content_tag('i', '', class: 'fa fa-square-o fa-2x'), "closed/"+@project.id.to_s, :method => :put %>
					<% end %></p>
	</div>

	<div class="well">
		<h2 class="center">Purchase Orders</h2>
		<% @links.each do |l| %>
		<% @order = Order.find(l.order_id) %>
			<p> <%= link_to @order.LLID, "/orders/"+@order.id.to_s %> </p>
		<% end %>
		<%= form_for(@orderlink) do |f| %>
		<div class="form-group">
			<%= f.label :order %>
			<%= f.collection_select :order_id, Order.all, :id, :LLID, class: "form-control" %>
			<%= f.hidden_field :project_id, :value => @project.id %>
		</div>
		<%= f.submit "Link Order", class: "btn btn-large btn-primary form-control" %>
		<% end %>
	</div>

	<div class="well">
		<h2 class="center">Notes</h2>
		<% @notes.each do |n| %>
			<p><%= n.content %></p>
		<% end %>
		<%= form_for(@note) do |f| %>
		<div class="form-group">
			<%= f.label :note %>
			<%= f.text_field :content, class: "form-control" %>
			<%= f.hidden_field :project, :value => @project.id %>
		</div>
		<%= f.submit "Add Note", class: "btn btn-large btn-primary form-control" %>
		<% end %>
	</div>	
</div>

<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
	<div class="well">
		<h2 class="center">Project breakdown</h2>

		<% @assets.take(1).each do |a| %>
		<% @breakdown = a %>
		<% end %>

		<% f = File.open(@breakdown.file.path) %>
		<% doc = Nokogiri::XML(f) %>
		<tbody>
		<table class="table table-hover">
		
			<tr><td>Match Types</td><td>% of rate</td><td>Words</td><td>%</td><td>Value</td></tr>

		<% variant = doc.xpath("//batchTotal//analyse") %>
			<% @words = 4 %>
		<% variant.each do |section| %>
			<% section.elements.each do |node| %>
			<% @words = @words + node.attr("words").to_i %>

				<% case node.name %>
				<% when "perfect" %>
					<tr><td>Perfect</td><td>0</td><td><%= node.attr("words") %> </td><td>10</td><td>0.26</td></tr>
				<% when "inContextExact" %>
					<tr><td>Context Match</td><td>10</td><td><%= node.attr("words") %> </td><td>10</td><td>0.26</td></tr>
				<% when "exact" %>
					<tr><td>100%</td><td>10</td><td><%= node.attr("words") %> </td><td>10</td><td>0.26</td></tr>
				<% when "crossFileRepeated" %>
					<tr><td>Context Match</td><td>10</td><td><%= node.attr("words") %> </td><td>10</td><td>0.26</td></tr>
				<% when "repeated" %>
					<tr><td>Repeated</td><td>10</td><td><%= node.attr("words") %> </td><td>10</td><td>0.26</td></tr>
				<% when "total" %>
					<tr><td>Total</td><td>10</td><td><%= node.attr("words") %> </td><td>10</td><td>0.26</td></tr>
				<% when "new" %>
					<tr><td>New</td><td>100</td><td><%= node.attr("words") %> </td><td>10</td><td>0.26</td></tr>
				<% when "fuzzy" %>
					<% case node.attr("min") %>
					<% when "50" %>
						<tr><td>50-74%</td><td>100</td><td><%= node.attr("words") %> </td><td>10</td><td>0.26</td></tr>
					<% when "75" %>
						<tr><td>75-84%</td><td>50</td><td><%= node.attr("words") %> </td><td>10</td><td>0.26</td></tr>
					<% when "85" %>
						<tr><td>85-94%</td><td>25</td><td><%= node.attr("words") %> </td><td>10</td><td>0.26</td></tr>
					<% when "95" %>
						<tr><td>95-99%</td><td>10</td><td><%= node.attr("words") %> </td><td>10</td><td>0.26</td></tr>
					<% end %>
				<% else %>
					<tr><td><%= node.name %></td><td>0%</td><td><%= node.attr("words") %> </td><td>10</td><td>0.26</td></tr>
				<% end %>
			<% end %>
		<% end %>
		</table>
		</tbody>


		<% @assignments.each do |a| %>
			<% @price = @words * a.rate 
			 @translators.each do |t| 
				 if t.id = a.translator_id %>
					<%= form_for(@neworder) do |f| %>
						<%= t.name %>
						<%= f.text_field :value, :value => @price.round(2) %>
						<%= f.submit %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>


	</div>
	<div class="well">
		<h2 class="center">Files</h2>
		<% @assets.each do |a| %>
		<%= link_to a.file_file_name, a.file.url %>
		<% end %>

		<h2 class="center">New File</h3>
		<%= form_for @asset, :html => {:multipart => true} do |f| %>
		<div class="form-group">
			<%= f.label :file %>
			<%= f.file_field :file, class: "form-control" %>
			<%= f.hidden_field :project, :value => @project.id %>
		</div>
	
		<%= f.submit "Add Asset", class: "btn btn-large btn-primary form-control" %>
	<% end %>
	</div>
</div>