<% provide(:title, 'Project') %>

<div class="col-xs-12 col-sm-12 col-md-2 col-lg-4">
	<div class="well">
		<h2 class="center">Translators</h2>
		<% @assignments.each do |a| %>
			<% @translator = Translator.find(a.translator_id) %>
			<p class="delete"><%= link_to content_tag('i', '', class: 'fa fa-trash-o fa-2x'), "/assignments/"+a.id.to_s, data: { confirm: "Are you sure you want to delete this Assignment?" }, method: :delete %><%= @translator.name %></p>
		<% end %>

	

		<p>Cost: £<%= @cost %>

		<h2 class="center">Add a translator</h2>
		<%= form_for(@assignment) do |f| %>
		<div class="form-group">
			<%= f.label :translator %>
			<%= f.collection_select :translator, Translator.all, :id, :name, {}, {:class => "form-control"} %>
		</div>
		<div class="form-group">
			<%= f.label :rate %>
			<%= f.text_field :rate, class: "form-control" %>
			<%= f.hidden_field :project, :value => @project.id %>
		</div>
		<%= f.submit "Add", class: "btn btn-large btn-primary form-control" %>
		<% end %>
	</div>

	<div class="well">
		<h2 class="center">Client</h2>
		<p><%= link_to @client.name, "/clients/"+@client.id.to_s %></p>
		<p>Value: £<%= @value %></p>
		<p>Profit: £<%= (@value - @cost).round(2) %></p>
		<p>Deadline: <%= @project.deadline %></p>
		<p>Project #<%= @project.count %></p>
		<p><%= @project.source %> -> <%= @project.target %></p>
		<p><% if @project.closed == true %>
						<%= link_to content_tag('i', '', class: 'fa fa-check-square-o fa-2x'), "closed/"+@project.id.to_s, :method => :put %> Mark as open 
					<% else %>
						<%= link_to content_tag('i', '', class: 'fa fa-square-o fa-2x'), "closed/"+@project.id.to_s, :method => :put %> Mark as closed 
					<% end %></p>
	</div>

	<div class="well">
		<h2 class="center">Purchase Orders</h2>
		<% @links.each do |l| %>
		<% @order = Order.find(l.order_id) %>
			<p class="delete"><%= link_to content_tag('i', '', class: 'fa fa-trash-o fa-2x'), "/links/"+l.id.to_s, data: { confirm: "Are you sure you want to delete this Link?" }, method: :delete %><%= link_to @order.LLID, "/orders/"+@order.id.to_s %> </p>
		<% end %>
		<%= form_for(@orderlink) do |f| %>
		<div class="form-group">
			<%= f.label :order %>
			<%= f.collection_select :order_id, Order.all, :id, :LLID, {}, {:class => "form-control"} %>
			<%= f.hidden_field :project_id, :value => @project.id %>
		</div>
		<%= f.submit "Link Order", class: "btn btn-large btn-primary form-control" %>
		<% end %>
	</div>

	<div class="well">
		<h2 class="center">Notes</h2>
		<% @notes.each do |n| %>
			<p><%= n.content %></p>
		<% end %>
		<%= form_for(@note) do |f| %>
		<div class="form-group">
			<%= f.label :note %>
			<%= f.text_field :content, class: "form-control" %>
			<%= f.hidden_field :project, :value => @project.id %>
		</div>
		<%= f.submit "Add Note", class: "btn btn-large btn-primary form-control" %>
		<% end %>
	</div>	
</div>

<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
	<div class="well">
		<h2 class="center">Project breakdown</h2>

		<tbody>
		<table class="table table-hover">
			<%= form_for @percents, :namespace => "percents" do |f| %>
			<tr><td><b>Match Types</b></td><td><b>% of rate</b></td><td><b>Words</b></td><td><b>%</b></td></tr>
				
			<tr><td><b>Perfect</b></td><td><%= f.text_field :translated, size: 5 %></td><td><%= @words.translated%> </td><td><%= number_to_percentage(@words.translated.to_f / @words.total * 100, precision: 2) %></td></tr>
			
			<tr><td><b>Context Match</b></td><td><%= f.text_field :context, size: 5 %></td><td><%= @words.context %> </td><td><%= number_to_percentage(@words.context.to_f / @words.total * 100, precision: 2) %></td></tr>
				
			<tr><td><b>Repeated</b></td><td><%= f.text_field :repetition, size: 5 %></td><td><%= @words.repetition %> </td><td><%= number_to_percentage(@words.repetition.to_f / @words.total * 100, precision: 2) %></td></tr>
					
			<tr><td><b>50-74%</b></td><td><%= f.text_field :fifty, size: 5 %></td><td><%= @words.fifty %> </td><td><%= number_to_percentage(@words.fifty.to_f / @words.total * 100, precision: 2) %></td></tr>
					
			<tr><td><b>75-84%</b></td><td><%= f.text_field :seventy_five, size: 5 %></td><td><%= @words.seventy_five %> </td><td><%= number_to_percentage(@words.seventy_five.to_f / @words.total * 100, precision: 2) %></td></tr>
					
			<tr><td><b>85-94%</b></td><td><%= f.text_field :eighty_five, size: 5 %></td><td><%= @words.eighty_five %> </td><td><%= number_to_percentage(@words.eighty_five.to_f / @words.total * 100, precision: 2) %></td></tr>
					
			<tr><td><b>95-99%</b></td><td><%= f.text_field :ninety_five, size: 5 %></td><td><%= @words.ninety_five %> </td><td><%= number_to_percentage(@words.ninety_five.to_f / @words.total * 100, precision: 2) %></td></tr>

			<tr><td><b>100%</b></td><td><%= f.text_field :hundred, size: 5 %></td><td><%= @words.hundred %> </td><td><%= number_to_percentage(@words.hundred.to_f / @words.total * 100, precision: 2) %></td></tr>

			<tr><td><b>New</b></td><td><%= f.text_field :nomatch, size: 5 %></td><td><%= @words.nomatch %> </td><td><%= number_to_percentage(@words.nomatch.to_f / @words.total * 100, precision: 2) %></td></tr>

			<tr><td><b>Total</b></td><td></td><td><%= @words.total %> </td><td></td></tr>
			<tr><td></td><td><%= f.submit "Update" %><%= f.hidden_field :project_id, :value => @project.id %></td><td><%= link_to content_tag('i', '', class: 'fa fa-pencil-square-o fa-2x'), "/breakdowns/"+@words.id.to_s+"/edit" %></td><td></td></tr>
			<% end %>	
		</table>
		</tbody>


		<% @assignments.each do |a| %>
			<% @quote = 0 %>
			<% @words.attributes.each do |attr_name, attr_value| %>
				<% if attr_name != "id" && attr_name != "project_id" && attr_name != "total" && attr_name != "created_at" && attr_name != "updated_at" && attr_name != "type" %>
					<% if attr_value != 0 %>
						<% @quote += (a.rate.to_f / 100 * @percents.read_attribute(attr_name).to_f) * attr_value.to_f %>
					<% end %>
				<% end %>			

			<% end %>
			

			 <% @translators.each do |t| 
				 if t.id.to_i == a.translator_id.to_i %>
					<%= form_for(@neworder) do |f| %>
						<%= t.name %>
						<%= f.text_field :value, :value => @quote.round(2), class: "form-control" %>
						<%= f.hidden_field :LLID, :value => @neworder.LLID %>
						<%= f.hidden_field :category, :value => 1 %>
						<%= f.hidden_field :translator_id, :value => t.id %>
						<%= f.hidden_field :paid, :value => false %>
						<%= f.hidden_field :project_id, :value => @project.id %>
						<%= f.submit "Create Order", class: "btn btn-large btn-primary form-control" %>
					<% end %>
					<br />
				<% end %>
			<% end %>
		<% end %>


	</div>
	<div class="well">
		<h2 class="center">Files</h2>
		<% @assets.each do |a| %>
		<%= link_to a.file_file_name, a.file.url %>
		<% end %>

		<h2 class="center">New File</h3>
		<%= form_for @asset, :html => {:multipart => true} do |f| %>
		<div class="form-group">
			<%= f.label :file %>
			<%= f.file_field :file, class: "form-control" %>
			<%= f.hidden_field :project, :value => @project.id %>
		</div>
	
		<%= f.submit "Add Asset", class: "btn btn-large btn-primary form-control" %>
	<% end %>
	</div>
</div>