<% provide(:title, 'Project') %>

<div class="col-xs-12 col-sm-12 col-md-2 col-lg-4">
	<div class="well">
		<h2 class="center">Translators</h2>
		<% @translators.each do |t| %>
		<p><%= t.name %></p>
		<% end %>
		<h2 class="center">Add a translator</h2>
		<%= form_for(@assignment) do |f| %>
		<div class="form-group">
			<%= f.label :translator %>
			<%= f.collection_select :translator, Translator.all, :id, :name, class: "form-control" %>
			<%= f.hidden_field :project, :value => @project.id %>
		</div>
		<%= f.submit "Add", class: "btn btn-large btn-primary form-control" %>
		<% end %>
	</div>
	<div class="well">
		<h2 class="center">Client</h2>
		<p><%= link_to @client.name, "/clients/"+@client.id.to_s %></p>
		<p><%= @project.count %></p>
		<p>LL-<%= @project.count %>-1</p>

	</div>
</div>

<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
	<div class="well">
		Main Project breakdown
	</div>
	<div class="well">
		<h2 class="center">Files</h2>
		<% @assets.each do |a| %>
		<%= link_to a.file_file_name, a.file.url %>
		<% end %>

		<h2 class="center">New File</h3>
		<%= form_for @asset, :html => {:multipart => true} do |f| %>
		<div class="form-group">
			<%= f.label :file %>
			<%= f.file_field :file, class: "form-control" %>
			<%= f.hidden_field :project, :value => @project.id %>
		</div>
	
		<%= f.submit "Add Asset", class: "btn btn-large btn-primary form-control" %>
	<% end %>
	</div>
</div>