<% provide(:title, 'Project') %>

<div class="col-xs-12 col-sm-12 col-md-2 col-lg-4">
	<div class="well">
		<h2 class="center">Translators</h2>

		<% @assignments.each do |a| %>
		<% @translator = Translator.find(a.translator_id) %>
		<p><%= @translator.name %><%= link_to content_tag('i', '', class: 'fa fa-trash-o fa-2x'), "/assignments/"+a.id.to_s, data: { confirm: "Are you sure you want to delete this Assignment?" }, method: :delete %></p>
		<% end %>



		<h2 class="center">Add a translator</h2>
		<%= form_for(@assignment) do |f| %>
		<div class="form-group">
			<%= f.label :translator %>
			<%= f.collection_select :translator, Translator.all, :id, :name, class: "form-control" %>
			<%= f.hidden_field :project, :value => @project.id %>
		</div>
		<%= f.submit "Add", class: "btn btn-large btn-primary form-control" %>
		<% end %>
	</div>
	<div class="well">
		<h2 class="center">Client</h2>
		<p><%= link_to @client.name, "/clients/"+@client.id.to_s %></p>
		<p><%= @project.count %></p>
		<p>LL-<%= @project.count %>-1</p>
		<p><%= @project.source %> -> <%= @project.target %></p>
	</div>
</div>

<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
	<div class="well">
		<h2 class="center">Project breakdown</h2>

		<% @assets.take(1).each do |a| %>
		<% @breakdown = a %>
		<% end %>

		<% f = File.open(@breakdown.file.path) %>
		<% doc = Nokogiri::XML(f) %>
		<tbody>
		<table class="table table-hover">
		
			<tr><td>Match Types</td><td>% of rate</td><td>Words</td><td>%</td><td>Value</td></tr>

		<% variant = doc.xpath("//batchTotal//analyse") %>
			<% i = 0 %>
		<% variant.each do |section| %>
			<% section.elements.each do |node| %>
			<tr><td><%= node.name %></td><td>0%</td><td><%= node.attr("words") %> </td><td>10</td><td>0.26</td></tr>
			<% end %>
		<% end %>
		</table>
		</tbody>



	</div>
	<div class="well">
		<h2 class="center">Files</h2>
		<% @assets.each do |a| %>
		<%= link_to a.file_file_name, a.file.url %>
		<% end %>

		<h2 class="center">New File</h3>
		<%= form_for @asset, :html => {:multipart => true} do |f| %>
		<div class="form-group">
			<%= f.label :file %>
			<%= f.file_field :file, class: "form-control" %>
			<%= f.hidden_field :project, :value => @project.id %>
		</div>
	
		<%= f.submit "Add Asset", class: "btn btn-large btn-primary form-control" %>
	<% end %>
	</div>
</div>